<mat-card>
    <mat-card-content>
        <mat-card-title>Lista de las activos registrados</mat-card-title>
        <a routerLink="/activo/buscar/">busqueda avanzada</a>

        <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <div fxFlex.gt-sm="100" fxFlex="100">
                <br/>
                <mat-form-field>
                    <mat-label>Filtrar por estado:</mat-label>
                    <mat-select name="estado" [(ngModel)]="estadoActivo" #estado="ngModel" (selectionChange)="buscarPorEstado($event)" required>
                        <mat-option *ngFor="let ea of estadosActivos" [value]="ea">
                            {{ea.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error [hidden]="estado.valid || estado.pristine">
                        Este campo es <strong>requirido</strong>
                    </mat-error>
                </mat-form-field>
                <br/>
                <br/>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100">
                <ngx-datatable #table class='material' 
                [rows]='rows' 
                [columns]="columns" 
                [columnMode]="'force'" 
                [headerHeight]="50" 
                [footerHeight]="50" 
                [rowHeight]="'auto'" 
                [selected]="selected" 
                [selectionType]="'single'" 
                [externalPaging]="true" 
                [count]="pagina.totalElements" 
                [offset]="pagina.number" 
                [limit]="pagina.size" 
                [externalSorting]="true" 
                [loadingIndicator]="loading" 
                (page)='setPage($event)'
                (select)='onSelect($event)' 
                (sort)="onSort($event)">
                    <ngx-datatable-column name="Codigo" prop="codigo"></ngx-datatable-column>
                    <ngx-datatable-column name="Serial" prop="serial"></ngx-datatable-column>
                    <ngx-datatable-column name="Nombre" prop="nombre"></ngx-datatable-column>
                    <ngx-datatable-column name="Tipo" prop="tipoActivo.nombre"></ngx-datatable-column>
                    <ngx-datatable-column name="Estado" prop="estado.nombre"></ngx-datatable-column>
                    <ngx-datatable-column name="Asignado">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <span *ngIf="row.asignado.persona != null" title="Persona" class="ng-star-inserted">
                                Persona: {{row.asignado.persona.primerNombre}} {{row.asignado.persona.segundoNombre}} {{row.asignado.persona.segundoApellido}} {{row.asignado.persona.primerApellido}}
                            </span>
                            <span *ngIf="row.asignado.area != null" title="Area" class="ng-star-inserted">
                                Area: {{row.asignado.area.nombre}}, {{row.asignado.area.ciudad.nombre}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </mat-card-content>
</mat-card>