<mat-card>
    <mat-card-content>
        <mat-card-title>Lista de las personas registrados</mat-card-title>
        <ngx-datatable #table class='material' 
        [rows]='rows' 
        [columns]="columns" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [rowHeight]="'auto'" 
        [selected]="selected" 
        [selectionType]="'single'" 
        [externalPaging]="true" 
        [count]="pagina.totalElements" 
        [offset]="pagina.number" 
        [limit]="pagina.size" 
        [externalSorting]="true" 
        [loadingIndicator]="loading" 
        (page)='setPage($event)'
        (select)='onSelect($event)' 
        (sort)="onSort($event)">
        	<ngx-datatable-column name="Codigo"></ngx-datatable-column>
            <ngx-datatable-column name="Identificación" prop="identificacion">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.identificacion}}
                </ng-template>
            </ngx-datatable-column>
      		<ngx-datatable-column name="Nombre(s)" prop="primerNombre">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.primerNombre}} {{row.segundoNombre}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Apellido(s)" prop="primerApellido">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.primerApellido}} {{row.segundoApellido}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>