<mat-card>
    <mat-card-content>
        <mat-card-title>Basic Data table</mat-card-title>
        <div class="table-responsive">
	        <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
	            [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
	        </ngx-datatable>
        </div>
    </mat-card-content>
</mat-card>