<h2 mat-dialog-title>Agregar persona</h2>

<mat-dialog-content>
	<form #personaForm="ngForm">
	    <div fxLayout="row wrap" fxFlexAlign="center" class="row">
			<div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
				<mat-form-field>
	                <input matInput placeholder="Identificación" name="identificacion" [(ngModel)]="persona.identificacion" #identificacion="ngModel" required>
	                <mat-error [hidden]="identificacion.valid || identificacion.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
	            </mat-form-field>
			</div>
			<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
				<mat-form-field>
	                <input matInput placeholder="Primer nombre" name="primerNombre" [(ngModel)]="persona.primerNombre" #primerNombre="ngModel" required>
	                <mat-error [hidden]="primerNombre.valid || primerNombre.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
	            </mat-form-field>
			</div>
			<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
				<mat-form-field>
	                <input matInput placeholder="Segundo nombre" name="segundoNombre" [(ngModel)]="persona.segundoNombre" #segundoNombre="ngModel" required>
	                <mat-error [hidden]="segundoNombre.valid || segundoNombre.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
	            </mat-form-field>
			</div>
			<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
				<mat-form-field>
	                <input matInput placeholder="Primer apellido" name="primerApellido" [(ngModel)]="persona.primerApellido" #primerApellido="ngModel" required>
	                <mat-error [hidden]="primerApellido.valid || primerApellido.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
	            </mat-form-field>
			</div>
			<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
				<mat-form-field>
	                <input matInput placeholder="Segundo apellido" name="segundoApellido" [(ngModel)]="persona.segundoApellido" #segundoApellido="ngModel" required>
	                <mat-error [hidden]="segundoApellido.valid || segundoApellido.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
	            </mat-form-field>
			</div>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-accent" (click)="cancelar()">Cerrar</button>
    <button class="mat-raised-button mat-primary" (click)="onSubmit()" [disabled]="!personaForm.form.valid">Agregar</button>
</mat-dialog-actions>