<h2 mat-dialog-title>Agregar area</h2>

<mat-dialog-content>
	<form #areaForm="ngForm">
	    <div fxLayout="row wrap" fxFlexAlign="center" class="row">
			<div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
				<mat-form-field>
	                <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="area.nombre" #nombre="ngModel" required>
	                <mat-error [hidden]="nombre.valid || nombre.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
	            </mat-form-field>
			</div>
			<div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <mat-select name="ciudad" [(ngModel)]="area.ciudad" #ciudad="ngModel" required>
                        <mat-option *ngFor="let c of ciudades" [value]="c">
                            {{c.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-error [hidden]="ciudad.valid || ciudad.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
                </mat-form-field>
            </div>
			<div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
				<mat-form-field>
	                <input matInput placeholder="Dirección" name="direccion" [(ngModel)]="area.direccion" #direccion="ngModel" required>
	                <mat-error [hidden]="direccion.valid || direccion.pristine">
	                    Este campo es <strong>requirido</strong>
	                </mat-error>
	            </mat-form-field>
			</div>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-accent" (click)="cancelar()">Cerrar</button>
    <button class="mat-raised-button mat-primary" (click)="onSubmit()" [disabled]="!areaForm.form.valid">Agregar</button>
</mat-dialog-actions>