<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Administración de areas</mat-card-title>

                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                    <div fxFlex.gt-sm="1.3" fxFlex="100"></div>

                    <div fxFlex.gt-sm="98.7" fxFlex="100">
                        <br/>
                        <button mat-raised-button color="warn" (click)="adicionar()">Agregar</button>
                        &nbsp;
                        <button [disabled]="area.codigo == undefined" mat-raised-button color="accent" (click)="modificar()">Modificar</button>
                    </div>

                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <app-listar-area (selectedValue)='obtenerSeleccion($event)' [update]="update"></app-listar-area>
                    </div>
                </div>
        		
            </mat-card-content>
        </mat-card>
    </div>
</div>
