<mat-card>
    <mat-card-content>
        <mat-card-title>Lista de las areas registrados</mat-card-title>
        <ngx-datatable #table class='material' 
        [rows]='rows' 
        [columns]="columns" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [rowHeight]="'auto'" 
        [selected]="selected" 
        [selectionType]="'single'" 
        [externalPaging]="true" 
        [count]="pagina.totalElements" 
        [offset]="pagina.number" 
        [limit]="pagina.size" 
        [externalSorting]="true" 
        [loadingIndicator]="loading" 
        (page)='setPage($event)'
        (select)='onSelect($event)' 
        (sort)="onSort($event)">
        </ngx-datatable>
    </mat-card-content>
</mat-card>