<div fxLayout="row wrap">
	<div fxFlex.gt-sm="1.1" fxFlex="100"></div>
	<div fxFlex.gt-sm="30" fxFlex="100">
		<button mat-raised-button color="accent" (click)="volver()">
			<span class="mat-button-wrapper">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">arrow_back</mat-icon>
                Volver
            </span>
		</button>
  	</div>
  	
  	<div fxFlex.gt-sm="100" fxFlex="100">
    	<mat-card>
		    <mat-card-content>
		        <mat-card-title>Agregar activo</mat-card-title>
		        <mat-card-subtitle>Este modulo permite agregar activos </mat-card-subtitle>

		        <mat-horizontal-stepper linear="false" #stepper>
                    <mat-step [stepControl]="activoForm">
                        <form #activoForm="ngForm">
                            <ng-template matStepLabel>Información del activo</ng-template>

                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="activo.nombre" #nombre="ngModel" required>
                                        <mat-error [hidden]="nombre.valid || nombre.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Descripción" name="descripcion" [(ngModel)]="activo.descripcion" #descripcion="ngModel" required>
                                        <mat-error [hidden]="descripcion.valid || descripcion.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
						        	<mat-form-field>
					                    <mat-label>Tipo</mat-label>
					                    <mat-select name="tipo" [(ngModel)]="activo.tipoActivo" #tipo="ngModel" required>
					                        <mat-option *ngFor="let ta of tiposActivos" [value]="ta">
					                            {{ta.nombre}}
					                        </mat-option>
					                    </mat-select>
					                    <mat-error [hidden]="tipo.valid || tipo.pristine">
						                    Este campo es <strong>requirido</strong>
						                </mat-error>
					                </mat-form-field>
						        </div>
						        
						        <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Serial" name="serial" [(ngModel)]="activo.serial" #serial="ngModel" required>
                                        <mat-error [hidden]="serial.valid || serial.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Número inventario" name="numeroInventario" [(ngModel)]="activo.numeroInventario" #numeroInventario="ngModel" required>
                                        <mat-error [hidden]="numeroInventario.valid || numeroInventario.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Peso (kg)" name="peso" [(ngModel)]="activo.peso" #peso="ngModel" required>
                                        <mat-error [hidden]="peso.valid || peso.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Alto (cm)" name="alto" [(ngModel)]="activo.alto" #alto="ngModel" required>
                                        <mat-error [hidden]="alto.valid || alto.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Ancho (cm)" name="ancho" [(ngModel)]="activo.ancho" #ancho="ngModel" required>
                                        <mat-error [hidden]="ancho.valid || ancho.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Largo (cm)" name="largo" [(ngModel)]="activo.largo" #largo="ngModel" required>
                                        <mat-error [hidden]="largo.valid || largo.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
			            		<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
			            			<mat-form-field>
                                        <input matInput placeholder="Precio compra" name="precioCompra" [(ngModel)]="activo.valorCompra" #precioCompra="ngModel" required>
                                        <mat-error [hidden]="precioCompra.valid || precioCompra.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
			            		</div>
								<div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
									<mat-form-field>
                                        <input matInput placeholder="Fecha de compra" name="fechaCompra" [(ngModel)]="activo.fechaCompra" #fechaCompra="ngModel" [matDatepicker]="pickerFechaCompra" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaCompra"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi="true" #pickerFechaCompra></mat-datepicker>
                                        <mat-error [hidden]="fechaCompra.valid || fechaCompra.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

		          			<hr>
		          			<h4>Estado.</h4>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
						        	<mat-form-field>
					                    <mat-label>Estado</mat-label>
					                    <mat-select name="estado" [(ngModel)]="activo.estado" #estado="ngModel" required>
					                        <mat-option *ngFor="let ea of estadosActivos" [value]="ea">
					                            {{ea.nombre}}
					                        </mat-option>
					                    </mat-select>
					                    <mat-error [hidden]="estado.valid || estado.pristine">
						                    Este campo es <strong>requirido</strong>
						                </mat-error>
					                </mat-form-field>
						        </div>

						        <div [hidden]="activo.estado.codigo != 2" fxFlex.gt-sm="50" fxFlex="100" class="p-10">
									<mat-form-field>
                                        <input matInput placeholder="Fecha de baja" name="fechaBaja" [(ngModel)]="activo.fechaBaja" #fechaBaja="ngModel" [matDatepicker]="pickerFechaBaja" readonly [required]="activo.estado.codigo == 2">
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaBaja"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi="true" #pickerFechaBaja></mat-datepicker>
                                        <mat-error [hidden]="fechaBaja.valid || fechaBaja.pristine">
                                            Este campo es <strong>requirido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div [hidden]="activo.estado.codigo != 5" fxFlex.gt-sm="50" fxFlex="100" class="p-10">
									<mat-form-field>
					                    <mat-label>Asignar a:</mat-label>
					                    <mat-select (selectionChange)="seleccion($event)" required>
					                        <mat-option *ngFor="let ta of tipoAsignacion" [value]="ta.codigo">
					                            {{ta.nombre}}
					                        </mat-option>
					                    </mat-select>
					                </mat-form-field>
                                </div>

                                <div *ngIf="activo.estado.codigo == 5 && persona" fxFlex.gt-sm="100" fxFlex="100" class="p-10">
						        	<mat-form-field>
					                    <mat-label>Persona</mat-label>
					                    <mat-select name="persona" [(ngModel)]="activo.asignado.persona" #persona="ngModel" [required]="persona">
					                        <mat-option *ngFor="let p of personas" [value]="p">
					                            {{p.primerNombre}} {{p.segundoNombre}} {{p.primerApellido}} {{p.segundoApellido}}
					                        </mat-option>
					                    </mat-select>
					                    <mat-error [hidden]="persona.valid || persona.pristine">
						                    Este campo es <strong>requirido</strong>
						                </mat-error>
					                </mat-form-field>
						        </div>
						        <div *ngIf="activo.estado.codigo == 5 && area" fxFlex.gt-sm="100" fxFlex="100" class="p-10">
						        	<mat-form-field>
					                    <mat-label>Area</mat-label>
					                    <mat-select name="area" [(ngModel)]="activo.asignado.area" #area="ngModel" [required]="area">
					                        <mat-option *ngFor="let a of areas" [value]="a">
					                            {{a.nombre}}, {{a.ciudad.nombre}}
					                        </mat-option>
					                    </mat-select>
					                    <mat-error [hidden]="area.valid || area.pristine">
						                    Este campo es <strong>requirido</strong>
						                </mat-error>
					                </mat-form-field>
						        </div>
		          			</div>

                            <br />
                            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end center" class="row">
                                <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="!activoForm.form.valid">Agregar</button>
                            </div>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>

		    </mat-card-content>
		</mat-card>
  	</div>
</div>

