<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Administración de activos</mat-card-title>

                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                    <div fxFlex.gt-sm="1.3" fxFlex="100"></div>

                    <div fxFlex.gt-sm="98.7" fxFlex="100">
                        <br/>
                        <button mat-raised-button color="warn" routerLink="/activo/agregar">Agregar</button>
                        &nbsp;
                        <button [disabled]="activo.codigo == undefined" mat-raised-button color="accent" routerLink="/activo/modificar/{{activo.codigo}}">Modificar</button>
                    </div>

                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <app-listar-activo (selectedValue)='obtenerSeleccion($event)' [update]="update"></app-listar-activo>
                    </div>
                </div>
        		
            </mat-card-content>
        </mat-card>
    </div>
</div>
